@import './variables';

%background-body {
  background:  rgba(130, 232, 255, 1) 62%,;
}

%menu-items {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  left: 3px;
}

%border {
  border: 2px solid $primary-color;
}

%transition7 {
  transition: all 0.7s ease;
}

%isDoneFocused {
  background-size: cover;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

%borderRadius5 {
  border-radius: 5px;
}

%remove-edit-icons {
  background-size: cover;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}



