// Цвета
$primary-color: #0686a3;
$secondary-color: white;
$third-color: #ccd8db;
$fourth-color:  #a4b2b6;
$fifth-color: rgb(185, 195, 206);

$border-param: 2px solid $primary-color;

//для кнопок
$edit-color: rgba(143, 199, 46, 0.5);
$delete-color: rgba(245, 70, 39, 0.5);
$close-color: rgba(245, 163, 39, 0.5);