@import '../helpers/variables';
@import '../helpers/placeholderSelector';
@import '../helpers/mixins';

body {
  font-family: 'holtwood_one_scregular', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background:  rgba(130, 232, 255, 1) 62%;
  height: 100vh;
  font-size: 20px;
  color: $primary-color;

  a {
    text-decoration: none;
    color: $secondary-color;
    &:visited {
      color: $secondary-color;
    }
    &:link {
      color: $secondary-color;
    }
  }

  li {
    list-style: none;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 16px;
    height: auto;
    background: $fifth-color;
  }
}

header {
  width: 90%;
  margin: 0 auto;

  .header-flex {
    @include flex(flex, space-between, center);
  }

  .weather-flex {
    @include flex(flex, center, center);
    max-height: 100px;

    & > div {
      margin: 0 15px;
    }
  }
}

@media (max-width: 500px) {
  header {
    width: 100%;

    .header-flex {
      display: block;
    }

    .weather-flex {
      margin-bottom: 30px;
      & > div {
        text-align: center;
      }
    }
  }
}

h1 {
  color: $secondary-color;
  @include font-style(1.5em, italic);
  text-shadow: 3px 3px 3px $primary-color;
  text-align: center;
  padding: 10px 0;
}

h2 {
  color: #074b5a;
  padding: 10px 7px;
  @include font-style(1.3em, italic);
  text-shadow: 3px 3px 3px $secondary-color;
}

@media (max-width: 500px) {
  h1 {
    padding: 30px 0;
  }

  h2 {
    text-align: center;
  }
}

#app {
  width: 70%;
  margin: 3% auto;
  border-radius: 10px;
  min-height: 550px;

  background-color: $fifth-color;
  -webkit-box-shadow: 0px 0px 25px 14px rgba(222, 235, 250, 0.95);
  -moz-box-shadow: 0px 0px 25px 14px rgba(222, 235, 250, 0.95);
  box-shadow: 0px 0px 25px 14px rgba(222, 235, 250, 0.95);
  border: 2px solid $primary-color;
}

@media (max-width: 500px) {
  #app {
    width: 100%;
    margin: 0;
    min-height: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
}
