@import '../helpers/variables';
@import '../helpers/placeholderSelector';


.error {
  box-shadow: 0px 0px 24px 2px $delete-color;
  padding: 5px;
  background-color: $fourth-color;
  color: $delete-color;
  @extend %border;
  border-color: $delete-color;
  @extend %borderRadius5;
  font-style: italic;
}

.error-message {
  width: 50%;
  margin: 20px 0 10px 0;
  text-align: center;
}

.error-input-message {
  margin: 10px 0 5px 0;
  font-size: 0.7em;
  width: 50%;
}

@media (max-width: 500px) {
  .error-message {
    width: 100%;
  }

  .error-input-message {
    width: 100%;
  }
}

.errorPage {
  width: 150px;
  height: 150px;
  background-image: url('../img/icons/errorIcon.png');
  background-position: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}