@import '../helpers/variables';
@import '../helpers/placeholderSelector';

.error-message {
  width: 50%;
  margin: 20px 0 10px 0;
  text-align: center;
  padding: 5px;
  background-color: $fourth-color;
  color: $delete-color;
  @extend %border;
  border-color: $delete-color;
  border-radius: 5%;
  font-style: italic;
}