@import '../helpers/variables';
@import '../helpers//placeholderSelector';

.menu {
  width: 20%;
  border-top: $border-param;
  border-right: $border-param;
  position: relative;
}

@media (max-width: 500px) {
  .menu {
    width: 100%;
    border-right: none;
    @include flex(flex, center, center);
  }
}

.menu > div {
  padding: 5px 0 5px 30px;
  font-weight: 900;
  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
  li:hover {
    background-color: #0bb5db;
  }
}

@media (max-width: 375px) {
  .menu > div {
    padding: 10px 0 5px 35px;
    font-weight: 900;
    width: 33%;
    font-size: 0.8em;

    &:last-child {
      width: 34%;
    }
    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .menu > div {
    padding: 10px 0 0 35px;
    line-height: 30px;
    height: 45px;
    font-weight: 900;
    width: 33%;
    font-size: 0.8em;
  }
}

@media (min-width: 375px) and (max-width: 402px) {
  .menu > div:first-child {
    line-height: 15px;
  }
}

.menu_item__inbox:before {
  @extend %menu-items;
  background-image: url('../img/icons/Menu/list.png');
}

.menu_item__focus:before {
  @extend %menu-items;
  background-image: url('../img/icons/Menu/focus.png');
}

.menu_item__project:before {
  @extend %menu-items;
  background-image: url('../img/icons/Menu/project.png');
}

@media (max-width: 375px) {
  .menu_item__inbox {
    border-right: $border-param;
  }
  .menu_item__inbox:before {
    top: 1px;
  }

  .menu_item__focus:before {
    top: 1px;
  }

  .menu_item__focus {
    border-right: $border-param;
    height: 100%;
  }

  .menu_item__project:before {
    top: 1px;
  }

  .menu_item__project {
    height: 100%;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .menu_item__inbox {
    border-right: $border-param;
  }

  .menu_item__focus {
    border-right: $border-param;
  }
}

.menu_item {
  border-bottom: $border-param;

  &:last-child {
    border-bottom: none;
  }

  ul {
    padding-left: 18px;
    @include font-style(0.8em, normal, $secondary-color);
    position: relative;

    li {
      padding: 2px 0;
      overflow: hidden;
    }

    li:before {
      background: url('../img/icons/Menu/puzzle.png') no-repeat;
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      background-size: contain;
      display: block;
      margin-top: 3px;
      left: 1px;
    }
  }
}

@media (max-width: 500px) {
  .menu_item {
    border-bottom: none;
    position: relative;

    ul {
      display: none;
    }
  }
}
