.edit {
  background-image: url('../img/icons/edit.png');
  @extend %transition7;
  @extend %remove-edit-icons;

  &:hover {
    transform: scale(1.2, 1.2);
    @extend %transition7;
  }
}

.remove {
  background-image: url('../img/icons/remove.png');
  @extend %transition7;
  @extend %remove-edit-icons;


  &:hover {
    transform: scale(1.2, 1.2);
    @extend %transition7;
  }
}

.task-data {
  @include flex(flex, flex-start, center);
  flex-wrap: wrap;

  & > * {
    cursor: pointer;
    padding: 0 5px;
  }

  label {
    padding: 0;
  }
}

.focused {
  color: yellow;
  @extend %transition7;

  &:hover {
    color: $primary-color;
    @extend %transition7;
  }
}

.nonFocused {
  @extend %transition7;
  &:hover {
    color: yellow;
    @extend %transition7;
  }
}

