@import '../helpers/variables';
@import '../helpers/placeholderSelector';
@import '../helpers/mixins';

.authorization {
  h2 {
    text-align: center;
    padding: 30px;
  }

  div {
    width: 150px;
    height: 150px;
    background-image: url('../img//icons/needRegistration.png');
    background-position: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  span {
    color: $secondary-color;
    padding: 0 10px;
    text-shadow: 1px 1px 1px $primary-color;
    @extend %transition7;

    &:hover {
      @extend %transition7;
      text-shadow: 5px 5px 5px $primary-color;
    }
  }
}

.start {
  h2 {
    text-align: center;
    padding: 30px;
  }

  .not-found {
    width: 150px;
    height: 150px;
    background-image: url('../img/icons/notFound.png');
    background-position: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}
