@import '../helpers/variables';
@import '../helpers//placeholderSelector';
@import 'helpers/mixins';

.mainPage {
  @include flex(flex, flex-start, stretch);

  & > div:last-child, form {
    border-top: $border-param;
    width: 80%;
    padding: 10px;
  }
}